/* PLUGINS & THIRD PARTY STYLES */
button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #11519a;
    color: #fff; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(21, 101, 192, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(21, 101, 192, 0.6);
  outline-offset: 2px; }

html {
  background-color: #fff;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #ddd; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #333;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration-skip: ink;
  transition: color 150ms ease; }
  a:hover {
    color: #104c90; }
  a:focus {
    outline: 3px solid rgba(21, 101, 192, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/* BASE STYLES */
body {
  font-family: "Consolas", "monaco", monospace;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  border-bottom: solid 1px #373737;
  color: #373737; }
  a:hover {
    color: #aa2830; }

.img1 a {
  text-decoration: none;
  border-bottom: none; }

h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #373737;
  padding-bottom: 6vh; }
  @media only screen and (min-width: 900px) {
    h3 {
      font-size: 2em; } }

/* FOOTER */
footer {
  text-align: center;
  padding: 6vw;
  font-size: 3.6vw; }
  @media only screen and (min-width: 900px) {
    footer {
      font-size: 1.5vw; } }

/* LAYOUTS STYLES */
/* PARALLAX */
.img1, .img2 {
  position: relative;
  opacity: 0.80;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.img1 {
  background-image: url("../img/band-resize.jpg");
  min-height: 100%; }

.img2 {
  background-image: url("../img/band_2-resize.jpg");
  min-height: 100%; }

.text-div {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 5vw;
  letter-spacing: 3vw;
  text-transform: uppercase; }
  @media only screen and (min-width: 900px) {
    .text-div {
      font-size: 1.8vw;
      letter-spacing: 1.8vw; } }

.text-div .txt {
  background: #fff;
  color: #111;
  padding: 5vw;
  padding-right: 1.3vw; }
  @media only screen and (min-width: 900px) {
    .text-div .txt {
      padding: 2vw;
      padding-right: 0.3vw; } }

.fante {
  color: #aa2830; }

.section {
  text-align: center;
  padding: 10vw 10vw 10vw; }
  @media only screen and (min-width: 900px) {
    .section {
      padding: 4vw; } }

.clair-sec {
  background: #f4f6ef;
  color: #373737; }

.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem; }
  @media only screen and (min-width: 900px) {
    .base-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center; } }

.base_img {
  position: relative;
  color: white;
  margin-bottom: 1.5rem; }
  @media only screen and (min-width: 900px) {
    .base_img {
      width: 25%;
      margin: 0;
      margin-right: 2vw; } }

.base_img img {
  width: 80vw;
  height: 65vh; }

.base_img:last-child {
  margin-bottom: 0; }
  @media only screen and (min-width: 900px) {
    .base_img:last-child {
      margin-top: 2vh; } }

.text_top {
  position: absolute;
  top: -1vh;
  font-size: 4vw;
  padding: 5vw; }
  @media only screen and (min-width: 900px) {
    .text_top {
      padding: 1.5vw;
      font-size: 1.2vw; } }

.text_bot {
  position: absolute;
  bottom: 1vh;
  font-size: 4vw;
  left: 1vw;
  padding: 5vw; }
  @media only screen and (min-width: 900px) {
    .text_bot {
      padding: 1.5vw;
      font-size: 1.2vw; } }

.social-icons {
  display: flex;
  float: right; }
  @media only screen and (min-width: 900px) {
    .social-icons {
      display: flex;
      float: right; } }

.circle-icons {
  width: 11vw;
  height: 6.8vh;
  font-size: 25px;
  border: solid 2px #f4f6ef;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  color: #f4f6ef;
  margin-right: 3vw;
  margin-top: 3vh; }
  @media only screen and (min-width: 900px) {
    .circle-icons {
      width: 4vw;
      height: 9.1vh;
      border-radius: 50%;
      margin-right: 2vw;
      margin-top: 4vh;
      font-size: 35px; } }

.fa-instagram {
  padding-top: 5.5px;}
  @media only screen and (min-width: 900px) {
    .fa-instagram {
      padding-top: 6.3px; } }
  .fa-instagram:hover {
    background: #d0842e; }

.fa-spotify {
  padding-top: 5.5px;}
  @media only screen and (min-width: 900px) {
    .fa-spotify {
      padding-top: 6.3px; } }
  .fa-spotify:hover {
    background: #d0842e; }

.fa-soundcloud {
  padding-top: 4px; }
  .fa-soundcloud:hover {
    background: #d0842e; }

/* iFRAME */
.frame-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -1rem; }
  @media only screen and (min-width: 900px) {
    .frame-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem; } }
  @media only screen and (max-width: 750px) {
    .frame-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: -1rem; } }

.iframe iframe {
  width: 80vw;
  height: 65vh;
  margin-bottom: 1rem; }
  @media only screen and (min-width: 900px) {
    .iframe iframe {
      width: 100%;
      margin: 0; } }

@media only screen and (min-width: 900px) {
  .iframe {
    margin-right: 2vw; } }

@media only screen and (min-width: 900px) {
  .iframe:last-child {
    margin-top: 2vh; } }

/* MODULES STYLES */
