// SOCIAL ICONS

.social-icons
  float: right
  margin-top: 30px
  display: inline-block
  padding: 0 30px

.circle-icons
  width: 40px
  height: 40px
  font-size: 25px
  border: solid 2px $clair
  border-radius: 50%
  text-align: center
  vertical-align: middle
  color: $clair

.fa-instagram
  padding-top: 5px
  padding-left: 0.5px
  &:hover
    background: linear-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5)

.fa-spotify
 padding-top: 5px
 &:hover
    background: $darkish

.fa-soundcloud
  padding-top: 4px
  &:hover
     background: #ff8800
