/* PARALLAX */

.img1, .img2
  position: relative
  opacity: 0.80
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  background-attachment: fixed

.img1
  background-image: url('../img/band-resize.jpg')
  min-height: 100%

.img2
  background-image: url('../img/band_2-resize.jpg')
  min-height: 100%

.text-div
  position: absolute
  top: 50%
  width: 100%
  text-align: center
  color: #000
  font-size: 5vw
  letter-spacing: 3vw
  text-transform: uppercase
  +mQ-min(900px)
    font-size: 1.8vw
    letter-spacing: 1.8vw


.text-div .txt
  background: #fff
  color: #111
  padding: 5vw
  padding-right: 1.3vw
  +mQ-min(900px)
    padding: 2vw
    padding-right: 0.3vw

.fante
  color: $lecolour
