/* PARALLAX */

.img1, .img2
  position: relative
  opacity: 0.80
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  background-attachment: fixed

.img1
  background-image: url('../img/band.jpg')
  min-height: 100%

.img2
  background-image: url('../img/band_2.jpg')
  min-height: 100%

.text-div
  position: absolute
  top: 50%
  width: 100%
  text-align: center
  color: #000
  font-size: 5vw
  letter-spacing: 3vw
  text-transform: uppercase


.text-div .txt
  background: #fff
  color: #111
  padding: 5vw

.fante
  color: $lecolour
