// COMMON SASS

body
  font-family: $font-stack-consolas

a
  text-decoration: none
  border-bottom: solid 1px $darkish
  color: $darkish
  &:hover
    color: $lecolour

.img1 a
  text-decoration: none
  border-bottom: none

h3
  text-transform: uppercase
  font-size: 1.5em
  color: $darkish
  padding-bottom: 50px

img
  width: 300px
  height: 300px
